.home-container {
  padding: 0rem 10rem 0rem 10rem;
  flex-direction: row;
  width: 100%;
  height: 175rem;

  margin-bottom: 0.5rem;
  vertical-align: baseline;

  .home-dropdown {
    padding-top: 1rem;
    color: black;
  }
  .home-location-card {
    padding-top: 2rem;
  }
}
